/* @font-face {
  font-family: 'newfont1';
  src: url('../assets/fonts/1be212c4d0d2c9d2fe35ec8fac161d8d.ttf');
}
@font-face {
  font-family: 'newfont2';
  src: url('../assets/fonts/AdiHausPSBold.ttf');
} */